body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto","Segoe U", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  /* height: 100%; */
  height: calc(100%);
  /* background-image: linear-gradient(to right bottom, #63e5c3, #00b4bc, #0082a7, #005081, #16224f); */
  background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
  /* background-color: #ECF0F1; */
  
  
  
}
